@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-hm: "Happy Monkey", sans-serif;
  --font-pp: "Poppins", sans-serif;

  --color-higrad-navy: #2b3446;
  --color-higrad-navyDark: #242c3d;
  --color-higrad-green: #9bd326;
  --color-higrad-greenDark: #83b91f;
  --color-higrad-cream: #f4f5ec;
  --color-higrad-paleGreen: #eef8d8;
  --color-higrad-gold: #d6b84a;
  --color-higrad-textDark: #1f2937;
  --color-higrad-textSoft: #e5e7eb;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-inter) !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-pp) !important;
}
